<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlYjd7iXYvU2001Vx8DNrrAAAAAACAAAAAAAQZgAAAAEAACAAAABcMjeXjKGdGLcKPYLO9w2/dS6ba31pxK8/Yx5Pls4GyQAAAAAOgAAAAAIAACAAAACzvnF2Apdo0iCD4m/uwA/iiYV7AAjHo8hYxD4qH4raljAAAACrBxaM+0a2gyby6xfMnvxzordJeIW5HnBNXsHGviCzcBtKiXMfdTl/F8t3fGnC+LpAAAAA9wFVDnliS4V9gDvGhz2+Te2xpbd59DqeBkiAcQU9MWpeSByjEJnNzuEVYSJrLtGIqn1E0L1xwAczRPEcqgP8DA==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAlYjd7iXYvU2001Vx8DNrrAAAAAACAAAAAAAQZgAAAAEAACAAAAB0bXdKv2HiC78uMNAN9JhozIkou+9febWx+mF5U/fRRQAAAAAOgAAAAAIAACAAAABBKe4rYDbZUDA3NkvjI9N57BDzpFDIG5j1L1ybtiftZjAAAACgTZ/kVaPRwafyE1ysdHPZefmipFFEt4odzA19/UNW17wP/DftOk4MyTmNR0PkYaJAAAAAf/ru8oqOoqD27Rb4Nh8Mf1N0d6q1A95lZzNvocK5HR/S7yOUXz/a2iO2KbZO9Q7rQfNES/RPeemk3QBNNrCiQw==" />
  </apikeys>
</configuration>