<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_restservice" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/restservice/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_restservice" contract="RestClient.restservice"
                name="WSHttpBinding_restservice">
                <identity>
                    <userPrincipalName value="Paolo.Possanzini@teamdev.it" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>